.track{
  &-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
    padding: 1%;
    width: 21%;
    flex-direction: column;
    background-color: #f6fbff;
    border-radius: 10px;
    transition: 0.5s;
  }

  &-box:hover{
    transform: scale(1.1);
  }

  &-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: Inter;
    width: 100%;
    min-height: 7em;

    &__name{
      font-weight: 600;
      font-size: 25px;
      color: #14B9D5;
    }

    &__artist{
      margin-top: 3%;
      color: black;
      font-size: 20px;
      width: 100%;

      & span {
        color: #14B9D5;
        cursor: pointer;
        margin-left: 3%;
      }

      & span:hover{
        border-bottom: 1px solid #14B9D5;
      }
    }

    &__link{
      font-family: Inter;
      position: absolute;
      right: 0;
      bottom: 0;
      text-decoration: none;
      color: #e63900;
      font-weight: 600;
      transition: 0.5s;
    }

    &__link:hover{
      background-color: #e63900;
      color: white;
      padding: 1.5%;
      border-radius: 10px;
    }
  }
}